<template>
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 logo-title-part">
          <img src="src/assets/images/logo.png" />
          <h3 class="site-title">Selfin</h3>
        </div>
        <div class="col-md-12 social-part">
          <a href="#"><img src="src/assets/images/twitter.png" /></a>
          <a href="#"><img src="src/assets/images/linkedin.png" /></a>
          <a href="#"><img src="src/assets/images/youtube.png" /></a>
        </div>
        <div class="col-md-6 order-md-12 nav-part">
          <ul class="nav1">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Work With Us</a></li>
            <li><a href="#">Be a Brand Ambassador</a></li>
          </ul>
          <ul class="nav2">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term of Use</a></li>
          </ul>
        </div>
        <div class="col-md-6 order-md-1 site-briefing">
          <div class="made-with">
            <span>Made with</span>
            <img src="src/assets/images/loved.png" />
            <span>in the United States</span>
            <img src="src/assets/images/us.png" />
          </div>
          <div class="copy-right">
            Copyright 2019 Selfin - All Right Reserved
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // import { mapGetters } from 'vuex'

  export default {
    name: 'AppFooter',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .footer-section {
    padding: 60px 0px;
    background: #F8F9FE;

    & .container {
      max-width: 1140px;
    }

    & .logo-title-part {
      display: flex;
      align-items: center;

      & .site-title {
        font-family: 'SFPro-Bold';
        font-size: $font-size-normal + 6;
        line-height: 28px;
        color: #000000;
        margin-left: 15px;
      }
    }

    & .social-part {
      margin-top: 35px;
      display: flex;
      align-items: center;

      & a {
        margin-right: 25px;
      }
    }

    & .nav-part {
      margin-top: 40px;

      & .nav1 {
        display: flex;
        justify-content: flex-end;

        @media(max-width: 992px) {
          display: inherit;
        }

        & li {
          & a {
            font-family: 'SFPro-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: $font-size-normal - 2;
            line-height: 19px;
            color: $color-second;
            text-decoration: none;
          }
          float: left;
          margin-right: 20px;

          @media(max-width: 1060px) {
            margin-right: 10px;
          }

          @media(max-width: 992px) {
            float: unset;
          }
        }
      }
      & .nav2 {
        display: flex;
        justify-content: flex-end;
        margin-top: 29px;

        @media(max-width: 992px) {
          display: inherit;
        }

        & li {
          & a {
            font-family: 'SFPro-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: $font-size-normal - 2;
            line-height: 19px;
            color: $color-third;
            text-decoration: none;
          }
          float: left;
          margin-right: 20px;

          @media(max-width: 1060px) {
            margin-right: 10px;
          }

          @media(max-width: 992px) {
            float: unset;
          }
        }
      }
    }

    & .site-briefing {
      margin-top: 40px;
      
      & .made-with {
        & span {
          font-family: 'SFPro-Regular';
          font-style: normal;
          font-weight: normal;
          font-size: $font-size-small;
          line-height: 17px;
          color: $color-second;
          text-decoration: none;
        }
      }
      & .copy-right {
        font-family: 'SFPro-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-small;
        line-height: 17px;
        color: $color-second;
        text-decoration: none;
        mix-blend-mode: normal;
        opacity: 0.35;

        margin-top: 35px;
      }
    }
  }
</style>
