<template>
  <div class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo-title-part">
            <img src="src/assets/images/logo.png" />
            <h3 class="site-title">Selfin</h3>
          </div>  
          <h4 class="download-btn">Download App</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AppHeader'
  }
</script>

<style lang="scss" scoped>
  .header-section {
    background: transparent;

    & .container {
      max-width: 1140px;
      height: 0px;
    }

    & .col-md-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 40px;
      z-index: 1;
    }

    & .logo-title-part {
      display: flex;
      align-items: center;

      & .site-title {
        font-family: 'SFPro-Bold';
        font-size: $font-size-normal + 6;
        line-height: 28px;
        color: #000000;
        margin-left: 15px;
      }
    }

    & .download-btn {
      font-family: 'SFPro-Bold';
      font-style: normal;
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
      line-height: 17px;
      color: rgba(13, 13, 13, 0.85);
    }
  }
</style>
