<template>
  <div class="full-banner-section" style="background-image: url('src/assets/images/full_banner_img1.png');">
  </div>
</template>

<script>
  export default {
    name: 'FullBannerSection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .full-banner-section {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 612px;
    @media(max-width: 992px) {
      height: 412px;
      padding: 30px 15px;
    }
  }
</style>
