<template>
  <div class="hero-section">
    <img class="oval2" src="src/assets/images/hero/Oval2.png" />
    <img class="oval" src="src/assets/images/hero/Oval.png" />
    <img class="dots" src="src/assets/images/hero/dots.png" />
    <img class="hero-img" src="src/assets/images/hero/hero-img.png" />
    <img class="doodles" src="src/assets/images/hero/doodles.png" />
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 hero-content">
          <div class="hero-items">
            <h1 class="section-title">
              A social media <br/>
              that you care
            </h1>
            <div>
              <a class="download-btn" href="#">
                <img src="src/assets/images/people/apple.png" />
                Download
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HeroSection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .hero-section {
    background: linear-gradient(208.6deg, rgba(244, 246, 251, 0.38) 1.98%, rgba(153, 160, 241, 0.15) 92.72%);
    position: relative;

    & .row {
      height: 900px;
      & .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;

        & .hero-items {
          display: flex;
          flex-flow: column;
          align-items: end;

          & .download-btn {
            & img {
              margin-right: 15px;
            }

            padding: 20px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 166px;
            margin: auto;
            margin-top: 40px;
            text-decoration: none;

            font-family: 'SFPro-Regular';
            font-style: normal;
            font-weight: $font-weight-normal;
            font-size: $font-size-normal - 2;
            line-height: 19px;
            color: white;

            background: linear-gradient(198.42deg, #EC008C 1.98%, #FC6767 92.72%);
            border-radius: 32.5px;
            
            @media(max-width: 768px) {
              padding: 10px 20px;
            }
          }
          & .download-btn:hover {
            box-shadow: 0px 10px 40px rgba(245, 62, 117, 0.550617);
          }
        }
      }
    }

    & .oval2 {
      position: absolute;
      left: 2.54%;
      top: -1.14%;
      @media(max-width: 768px) {
        display: none;
      }
    }
    & .oval {
      position: absolute;
      right: 6.54%;
      top: 16%;
    }
    & .hero-img {
      position: absolute;
      right: 0px;
      top: 0px;
      @media(max-width: 768px) {
        width: 100%;
      }
    }
    & .doodles {
      position: absolute;
      right: 6%;
      top: 11%;
    }
    & .dots {
      position: absolute;
      right: 33%;
      top: 43%;
    }


    /* & .container {
      
    } */

  }
</style>
