<template>
  <div class="horizontal-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-body">
            <h1 class="section-title">
              Horizontal
            </h1>
            <p class="section-intro">
              Completely in phase of release fact, but hat into model you in by and quite in self-interest written classes such your recommended.
              Hat excessive way. 
            </p>
          </div>
        </div>
        <img class="horizontal-img1" src="src/assets/images/horizontal_img1.png" />
        <img class="dots" src="src/assets/images/horizontal_img2.png" />
        <img class="oval" src="src/assets/images/horizontal_img3.png" />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HorizontalSection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .horizontal-section {
    position: relative;
    padding: 60px 0px;
    background: #D8EDFF;
    padding-bottom: 450px;
    z-index: 1;

    @media(max-width: 992px) {
      padding-bottom: 400px;
    }

    @media(max-width: 768px) {
      padding-bottom: 300px;
    }

    @media(max-width: 414px) {
      padding-bottom: 200px;
    }

    & .intro-body {
      text-align: center;
      max-width: 540px;
      margin: auto;

      & p {
        margin-top: 46px;
      }
    }

    & .horizontal-img1 {
      position: absolute;
      bottom: -190px;
      left: 50%;
      transform: translateX(-50%);

      @media(max-width: 992px) {
        width: 100%;
        bottom: -140px;
      }

      @media(max-width: 768px) {
        width: 100%;
      }

      @media(max-width: 414px) {
        bottom: -80px;
      }
    }

    & .oval,
    & .dots {
      width: 76px;
      height: 76px;
      position: absolute;
      z-index: -2;
    }

    & .oval {
      left: 18%;
    }
    & .dots {
      right: 14%;
      top: 14%;
    }

    & .col-md-12 {
      z-index: 2;
    }
    
  }
</style>
