<template>
  <div>
    <HeroSection></HeroSection>
    <FeaturedSection></FeaturedSection>
    <DiscoverSection></DiscoverSection>
    <PhotoSection></PhotoSection>
    <HorizontalSection></HorizontalSection>
    <UserFriendlySection></UserFriendlySection>
    <PrivacySection></PrivacySection>
    <EarnMoneySection></EarnMoneySection>
    <SchedulePostSection></SchedulePostSection>
    <FullBannerSection></FullBannerSection>
    <PeopleSection></PeopleSection>
  </div>
</template>

<script>
  import HeroSection from './hero-section.vue'
  import FeaturedSection from './featured-section.vue'
  import DiscoverSection from './discover-section.vue'
  import PhotoSection from './photo-section.vue'
  import HorizontalSection from './horizontal-section.vue'
  import UserFriendlySection from './user-friendly-section.vue'
  import PrivacySection from './privacy-section.vue'
  import EarnMoneySection from './earn-money-section.vue'
  import SchedulePostSection from './schedule-post-section.vue'
  import FullBannerSection from './full-banner-section.vue'
  import PeopleSection from './people-section.vue'

  export default {
    name: 'Home',
    components: {
      DiscoverSection,
      FeaturedSection,
      PhotoSection,
      HorizontalSection,
      UserFriendlySection,
      PrivacySection,
      EarnMoneySection,
      SchedulePostSection,
      FullBannerSection,
      PeopleSection,
      HeroSection
    },
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
</style>
