<template>
  <div class="people-section">
    <img class="left_oval1" src="src/assets/images/people/left_oval1.png" />
    <img class="left_oval2" src="src/assets/images/people/left_oval2.png" />
    <img class="left_oval3" src="src/assets/images/people/left_oval3.png" />
    <img class="left_oval4" src="src/assets/images/people/left_oval4.png" />
    <img class="left_oval5" src="src/assets/images/people/left_oval5.png" />
    <img class="left_oval6" src="src/assets/images/people/left_oval6.png" />

    <img class="right_oval1" src="src/assets/images/people/right_oval1.png" />
    <img class="right_oval2" src="src/assets/images/people/right_oval2.png" />
    <img class="right_oval3" src="src/assets/images/people/right_oval3.png" />
    <img class="right_oval4" src="src/assets/images/people/right_oval4.png" />
    <img class="right_oval5" src="src/assets/images/people/right_oval5.png" />
    <img class="right_oval6" src="src/assets/images/people/right_oval6.png" />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-body">
            <h1 class="section-title">
              People
            </h1>
            <p class="section-intro">
              Completely in phase of release fact, but hat into model you in by and quite in self-interest written classes such your recommended.
              Hat excessive way. 
            </p>
          </div>
          <div>
            <a class="download-btn" href="#">
              <img src="src/assets/images/people/apple.png" />
              Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PeopleSection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .people-section {
    padding: 60px 0px;
    background: white;
    position: relative;

    & .left_oval1 {
      position: absolute;
      left: 15.33%;
      top: 68.83%;
    }
    & .left_oval2 {
      position: absolute;
      left: 15.33%;
      top: 40.83%;
    }
    & .left_oval3 {
      position: absolute;
      left: 5.33%;
      top: 24.83%;
    }
    & .left_oval4 {
      position: absolute;
      left: 7.33%;
      top: 72.83%;
    }
    & .left_oval5 {
      position: absolute;
      left: 22.33%;
      top: 56.83%;
    }
    & .left_oval6 {
      position: absolute;
      left: 22.33%;
      top: 22.83%;
    }

    & .right_oval1 {
      position: absolute;
      right: 15.33%;
      top: 26.83%;
    }
    & .right_oval2 {
      position: absolute;
      right: 16.33%;
      top: 41.83%;
    }
    & .right_oval3 {
      position: absolute;
      right: 6.33%;
      top: 71.83%;
    }
    & .right_oval4 {
      position: absolute;
      right: 6.33%;
      top: 12.83%;
    }
    & .right_oval5 {
      position: absolute;
      right: 5.33%;
      top: 45.83%;
    }
    & .right_oval6 {
      position: absolute;
      right: 14.33%;
      top: 58.83%;
    }

    @media(max-width: 768px) {
      & .left_oval2,
      & .left_oval5,
      & .right_oval2,
      & .right_oval5 {
        display: none;
      }
    }

    & .container {
      margin-top: 112px;
      margin-bottom: 112px;
    }

    & .intro-body {
      text-align: center;
      max-width: 540px;
      margin: auto;

      & p {
        margin-top: 46px;
      }
    }

    & .download-btn {
      & img {
        margin-right: 15px;
      }

      padding: 20px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 166px;
      margin: auto;
      margin-top: 40px;
      text-decoration: none;

      font-family: 'SFPro-Regular';
      font-style: normal;
      font-weight: $font-weight-normal;
      font-size: $font-size-normal - 2;
      line-height: 19px;
      color: white;

      background: linear-gradient(198.42deg, #EC008C 1.98%, #FC6767 92.72%);
      border-radius: 32.5px;
      
      @media(max-width: 768px) {
        padding: 10px 20px;
      }
    }
    & .download-btn:hover {
      box-shadow: 0px 10px 40px rgba(245, 62, 117, 0.550617);
    }
  }
</style>
