<template>
  <div class="photo-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="intro-body">
            <h1 class="section-title">
              Photos
            </h1>
            <p class="section-intro">
              Completely in phase of release fact, but hat into model you in by and quite in self-interest written classes such your recommended.
              Hat excessive way. 
            </p>
          </div>
        </div>
        <div class="col-md-6 bg-body">
          <img class="photo-decorated" src="src/assets/images/photo_img1.png" />
          <img class="photo-phone" src="src/assets/images/photo_img2.png" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PhotoSection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .photo-section {
    padding: 60px 0px;
    background: linear-gradient(208.6deg, rgba(244, 246, 251, 0.38) 1.98%, rgba(153, 160, 241, 0.15) 92.72%);

    & .container {
      max-width: 100%;

      & .col-md-6 {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media(max-width: 768px) {
          justify-content: center;
        }

        & .intro-body {
          width: 540px;
        }
      }

      & .bg-body {
        text-align: right;
        padding-right: 0px;
        
        & .photo-decorated {
          @media(max-width: 1200px) {
            width: 100%;
          }
          @media(max-width: 768px) {
            display: none;
          }
        }

        & .photo-phone {
          display: none;

          @media(max-width: 768px) {
            display: inherit;
            width: 300px;
          }
        }
      }
    }
  }
</style>
