<template>
  <div class="other-features-section">
    <div class="container">
      <div class="row">
        <div class="section-header">
          <h1 class="section-title">
            Other features
          </h1>
        </div>
        <div class="col-md-6 order-md-12 d-flex align-items-center">
          <div class="intro-body">
            <h1 class="section-title">
              Privacy
            </h1>
            <p class="section-intro">
              Completely in phase of release fact, but hat into model you in by and quite in self-interest written classes such your recommended.
              Hat excessive way. 
            </p>
          </div>
        </div>
        <div class="col-md-6 order-md-1 text-center">
          <img class="privacy_img1" src="src/assets/images/privacy_img1.png" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PrivacySection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .other-features-section {
    padding: 60px 0px;
    background: white;

    & .section-header {
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
    }

    & .intro-body {
      max-width: 540px;
    }

    & .privacy_img1 {
      @media(max-width: 992px) {
        width: 300px;
        padding: 30px 15px;
      }
    }
  }
</style>
