<template>
  <div class="user-friendly-section">
    <img class="uf-dots" src="src/assets/images/user-friendly-dots.png" />
    <img class="uf-ovals" src="src/assets/images/user-friendly-ovals.png" />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-body">
            <h1 class="section-title">
              User-friendly
            </h1>
            <p class="section-intro">
              Completely in phase of release fact, but hat into model you in by and quite in self-interest written classes such your recommended.
              Hat excessive way. 
            </p>
          </div>
        </div>
        <div class="col-md-12 row card-row">
          <div class="col-lg-4 col-md-6 col-sm-12 card-panel" v-for="(uf, index) in userFriendlys" :key="index">
            <div>
              <img class="card-logo" :src="uf.avatar" />
              <h3 class="card-title">{{uf.title}}</h3>
              <p class="card-intro">{{uf.intro}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UserFriendlySection',
    data () {
      return {
        userFriendlys: [
          {
            avatar: 'src/assets/images/user-friendly-camera.png',
            title: 'No camera buttons',
            intro: 'Just swipe Up, up, up!'
          }, {
            avatar: 'src/assets/images/user-friendly-photo.png',
            title: 'Only photos',
            intro: 'Only photos on the feed'
          }, {
            avatar: 'src/assets/images/user-friendly-star.png',
            title: 'Self-verification',
            intro: 'Be verified by earning stars'
          }, {
            avatar: 'src/assets/images/user-friendly-clock.png',
            title: 'Scheduled post',
            intro: 'Be verified by earning stars'
          }, {
            avatar: 'src/assets/images/user-friendly-heart.png',
            title: 'Super-Likes',
            intro: 'Not all likes are created equals'
          }, {
            avatar: 'src/assets/images/user-friendly-emoji.png',
            title: 'Monetizeable',
            intro: 'Not all likes are created equals'
          }
        ]
      }
    },
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .user-friendly-section {
    padding: 60px 0px;
    background: #FCFBF8;
    position: relative;

    & .uf-dots,
    & .uf-ovals {
      width: 76px;
      height: 76px;
      position: absolute;
    }

    & .uf-dots {
      left: 18%;
      top: 15%;
    }

    & .uf-ovals {
      width: 56px;
      height: 49px;
      right: 20%;
      top: 5%;
    }

    & .container {
      margin-top: 112px;
      margin-bottom: 112px;

      & .card-row {
        margin-top: 52px;
        margin-right: 0px;
        margin-left: 0px;

        & .card-panel {
          padding: 15px 30px;
          margin-bottom: 35px;

          & div {
            padding: 41px 51px;
            background: rgba(254, 228, 51, 0.1);
            border-radius: 10px;
            text-align: center;

            & .card-logo {
              width: 56px;
              height: 56px;
              margin-bottom: 20px;
            }
            & .card-title {
              font-family: 'SFPro-Bold';
              font-size: $font-size-normal;
              color: $color-primary;
              font-style: normal;
              font-weight: $font-weight-normal;
              line-height: 21px;
            }
            & .card-intro {
              font-family: 'SFPro-Regular';
              font-size: $font-size-small;
              color: $color-primary;
              font-style: normal;
              line-height: 17px;
            }
          }
          div:hover {
            background: #FFFFFF;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.0338451);
          }
        }
      }
    }

    & .intro-body {
      text-align: center;
      max-width: 540px;
      margin: auto;

      & p {
        margin-top: 46px;
      }
    }
  }
</style>
