// CONFIG
@import "config/variables";
@import "config/mixin";
// RESET
@import "reset/normalize";
@import "reset/formalize";
// HELPER
@import "helper/typography";
@import "helper/global";
@import "helper/utility";
@import "helper/form";

body {
  background-color: $bg-primary;
}

@media (min-width: 1200px)
{
  .container {
    max-width: 1540px;
  }
}

.section-title {
  font-family: 'SFPro-Bold';
  font-size: $font-size-big;
  line-height: 64px;
  color: $color-primary;

  @media(max-width: 768px) {
    font-size: $font-size-big - 20;
  }
}
.section-intro {
  font-family: 'SFPro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-normal;
  line-height: 32px;
  color: $color-primary;
}