<template lang="pug">
  .App
    AppHeader
    main.AppContent
      router-view
    AppFooter
</template>

<script>
  // import { mapGetters } from 'vuex'
  import AppHeader from '@/view/global/app-header'
  import AppFooter from '@/view/global/app-footer'

  export default {
    name: 'App',
    components: {
      AppHeader,
      AppFooter
    },
    computed: {
    },
    mounted () {
    }
  }
</script>

<style lang="scss">
  @import "assets/stylesheet/app";
</style>
